Repository totto2727-org/all-in-one-portal: changes, and which lefthook commands are due for each by the changed paths.
All: check:biome, check:deno:fmt, check:deno:check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:biome:
      glob: "*.{ts,tsx,md,json,jsonc}"
      run: deno run --allow-env --allow-read --allow-run npm:@biomejs/biome check --apply-unsafe {staged_files}
    check:deno:fmt:
      glob: "*.{md}"
      run: deno fmt {staged_files}
    check:deno:check:
      glob: "*.{ts,tsx}"
      run: deno check global.d.ts {staged_files}

pre-push:
  parallel: true
  commands:
    check:biome:
      glob: "*.{ts,tsx,md,json,jsonc}"
      run: deno run --allow-env --allow-read --allow-run npm:@biomejs/biome check --apply-unsafe {push_files}
    check:deno:fmt:
      glob: "*.{md}"
      run: deno fmt {push_files}
    check:deno:check:
      glob: "*.{ts,tsx}"
      run: deno check global.d.ts {push_files}

feat: add parse rss app
  app.ts
  app/launcher/cron.ts
  app/launcher/main.ts
  app/web-gathering/reader-rss.ts
  app/web-gathering/source-rss.ts
  app/web-gathering/trigger-cron.ts
  app/web-gathering/type.ts
  main.ts
Due: check:biome, check:deno:check

fix: deno.jsonc -> deno.json
  .vscode/settings.json
  deno.json
Due: check:biome

feat: add tailing slash for deno.json
  deno.json
Due: check:biome

feat: add subpath
  app/web-gathering/source-rss.ts
  deno.json
Due: check:biome, check:deno:check

fix: reduce cron frequency
  app/web-gathering/trigger-cron.ts
Due: check:biome, check:deno:check

chore(deps): update utils
  deno.json
Due: check:biome

chore: force enable biome extention
  .vscode/settings.json
Due: check:biome

refactor: move files of message util
  lib/message.ts
  lib/message/message.test.ts
  lib/message/message.ts
  lib/message/request.test.ts
  lib/message/request.ts
Due: check:biome, check:deno:check

refactor: move files of safe fetch utils
  lib/fetch.ts
  lib/fetch/index.ts
  lib/fetch/response.test.ts
  lib/fetch/response.ts
  lib/fetch/safe.test.ts
  lib/fetch/safe.ts
  lib/request/factory.ts
  lib/request/index.ts
Due: check:biome, check:deno:check

refactor: move files of xml utils
  lib/xml.ts
  lib/xml/parse.test.ts
  lib/xml/parse.ts
Due: check:biome, check:deno:check

feat: add util types
  lib/type.ts
Due: check:biome, check:deno:check

refactor: re-export hono utils
  lib/hono.ts
Due: check:biome, check:deno:check

feat: add queue impls
  lib/queue.ts
  lib/queue/factory.ts
  lib/queue/impl.ts
  lib/queue/impl/deno-enqueue.ts
  lib/queue/impl/deno-hono-listen-queue.ts
  lib/queue/impl/deno-listen-queue.ts
  lib/queue/index.ts
  lib/queue/repository.ts
  lib/queue/type.ts
Due: check:biome, check:deno:check

feat: add cron factory
  lib/cron.ts
  lib/cron/impl.ts
  lib/cron/impl/hono.ts
  lib/cron/index.ts
  lib/cron/type.ts
Due: check:biome, check:deno:check

feat: add EnqueueService interface
  lib/queue.ts
  lib/queue/impl/deno-enqueue.ts
  lib/queue/impl/deno-listen-queue.ts
  lib/queue/repository.ts
  lib/queue/service.ts
Due: check:biome, check:deno:check

feat: normalize string for dates and URLs
  lib/type.ts
Due: check:biome, check:deno:check

feat: add type-fest in importMap
  deno.json
Due: check:biome

refactor: simplify webContent validator
  app/web-gathering/type/rss.test.ts
  app/web-gathering/type/rss.ts
  app/web-gathering/type/rss/attachment.ts
  app/web-gathering/type/rss/category.ts
  app/web-gathering/type/rss/image.ts
  app/web-gathering/type/rss/link.ts
  app/web-gathering/type/rss/person.ts
  app/web-gathering/type/web-content.ts
  app/web-gathering/type/web-content/attachment.ts
  app/web-gathering/type/web-content/image.ts
  app/web-gathering/type/web-content/item.ts
  app/web-gathering/type/web-content/link.ts
  app/web-gathering/type/web-content/source.ts
Due: check:biome, check:deno:check

feat: add velona package
  deno.json
Due: check:biome

feat: add queue wrapper
  lib/queue.ts
  lib/queue/impl.ts
  lib/queue/impl/deno-enqueue.ts
  lib/queue/impl/deno-hono-listen-queue.ts
  lib/queue/impl/deno-listen-queue.ts
  lib/queue/repository.ts
  lib/queue/service.ts
Due: check:biome, check:deno:check

chore: exclude .history directory
  deno.json
Due: check:biome

style: apply format
  app/web-gathering/type/web-content/attachment.ts
  app/web-gathering/type/web-content/image.ts
  app/web-gathering/type/web-content/link.ts
Due: check:biome, check:deno:check

wip
  lib/queue.ts
Due: check:biome, check:deno:check

refactor: move files
  lib/cron.ts
  lib/cron/impl.ts
  lib/cron/impl/hono.ts
  lib/cron/type.ts
  lib/queue.ts
Due: check:biome, check:deno:check

refactor: delete unused files
  app.ts
  app/web-gathering/reader-rss.ts
  app/web-gathering/source-rss.ts
  app/web-gathering/trigger-cron.ts
  main.ts
Due: check:biome, check:deno:check

chore: move settings to workspace
  .gitattributes
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  all-in-one-portal.code-workspace
  biome.json
Due: check:biome

feat: add content in cron error message
  lib/cron.ts
Due: check:biome, check:deno:check

feat: add web-gathering cron trigger
  app/web-gathering/cron.test.ts
  app/web-gathering/cron.ts
Due: check:biome, check:deno:check

feat: add drizzle dependencies
  deno.json
Due: check:biome

chore: add runtime manager
  .mise.toml
Due: none

chore: add db app path
  all-in-one-portal.code-workspace
Due: none

chore: add database config
  .env.example
Due: none

feat: add env config
  lib/env.ts
Due: check:biome, check:deno:check

feat: add dispose util
  lib/dispose.ts
Due: check:biome, check:deno:check

refactor: change to target any fetcher
  lib/cron.ts
Due: check:biome, check:deno:check

refactor: curry function
  lib/queue.ts
Due: check:biome, check:deno:check

refactor: strict type check in message util
  lib/message/message.ts
  lib/message/request.ts
Due: check:biome, check:deno:check

feat: add const config for web-gathering
  app/web-gathering/const.ts
  app/web-gathering/cron.test.ts
  app/web-gathering/cron.ts
Due: check:biome, check:deno:check

wip
  all-in-one-portal.code-workspace
  app/web-gathering/listenQueue.ts
  db/arg.ts
  db/bun.lockb
  db/drizzle.config.ts
  db/migration.ts
  db/migration/0000_solid_iron_fist.sql
  db/migration/meta/0000_snapshot.json
  db/migration/meta/_journal.json
  db/package.json
  deno.json
  dev.ts
  lib/db.ts
  lib/db/drizzle/db.ts
  lib/db/drizzle/schema.ts
  lib/dev/container.ts
  lib/dev/migration.ts
  lib/type.ts
  production.ts
Due: check:biome, check:deno:check
